<div ng-controller="NewOrdCtrl">
  <label class="control-label">New Order</label>
    <form class="form-horizontal">
      <div class="new_diaorder">
        <div class="form-group">
          <label class="control-label">Subject</label>
          <input type="text"/>
        </div>
  
        <div class="form-group">          
          <label class="control-label">Orderer</label>
          <input type="text"/>
        </div> 
  
        <label class="control-label">Identifier</label>     <div class="form-group">    
          <label class="control-label">Type</label>
          <input  type="text"/>
        </div>     
        <div class="form-group">
          <label class="control-label">System</label>
          <input />
         </div> 
        <div class="form-group">      
          <label class="control-label">Value</label>
          <input />
        </div> 
        
        <div class="form-group">       
          <label class="control-label">Encounter</label>
          <input />
        </div>
        
        <div class="form-group">
        <label class="control-label">Reason</label>
        <input /></div>

        <div class="form-group">
        <label class="control-label">Supporting Information</label>
        <input /></div>

        <div class="form-group">
        <label class="control-label">Specimen</label>
        <input />
        </div>

        <div class="form-group">
        <label class="control-label">Status</label>
        <input />
        </div>

        <div class="form-group">
        <label class="control-label">Priority</label>
        <input />
        </div>
      </div>
      <div class="new_digorder_event"> 
      <hr/> 
        <label class="control-label">Event</label></div>

        <div class="form-group">
        <label class="control-label">Status</label>
        <input /></div> 

        <div class="form-group">  
        <label class="control-label">Description</label>
        <input /></div>

        <div class="form-group">
        <label class="control-label">Actor</label>
        <input />
        </div>      
      </div>
      <div class="new_digorder_item">  
        <hr/> 
        <div class="form-group">
        <label class="control-label">Item</label>
        </div>

        <div class="form-group">
        <label class="control-label">Code</label>
        <input />
        </div>

        <div class="form-group">
        <label class="control-label">Specimen</label>
        <input />
        </div>    

        <div class="form-group">
        <label class="control-label">Bodysite</label>
        <input />
        </div>

        <div class="form-group">   
        <label class="control-label">Status</label>
        <input />
        </div> 

        <div class="form-group">
        <label class="control-label">Event</label>
        <input />
        </div>
      </div>
      <div class="order_other"> 
        <div class="form-group">     
          <label class="control-label">Note</label>
          <textarea type="" class="" rows="4"> </textarea>
        </div>
        <hr/>
        <div class="form-group">
          <button class="btn btn-success">Submit</button>
        </div>
      </div>
    </form>  
</div>
