<div class="detail-info" id="order-info">
			<span class="label order-Requested label-right">Requested</span>
				<div class="info-item"><span class="item-name">Subject: </span><span>Patient: Bowen</span></div>
				<div class="info-item"><span class="item-name">Order: </span><span>Bowen</span></div>
				<div class="info-item"><span class="item-name">Encounter: </span><span>Boston</span></div>
				<div class="info-item"><span class="item-name">Reason: </span><div>This is an diagnostic order for test purpose</div></div>
				<div class="info-item"><span class="item-name">SupportingInformation: </span><span></span></div>
				<div class="info-item"><span class="item-name">Specimen: </span><span></span></div>
				<div class="info-item"><span class="item-name">Priority: </span><span>Routine</span></div>
				<div class="info-item">
					<div class="item-title">Event</div>
					<span class="label order-Requested label-right">Requested</span>
					<div class="sub-item"><span class="item-name">Description: </span><div>This is an diagnostic order for some test purpose</div></div>
					<div class="sub-item"><span class="item-name">DateTime: </span><span>2015-11-11</span></div>
					<div class="sub-item"><span class="item-name">Actor: </span><span>Bowen</span></div>
				</div>
				<div class="info-item">
					<div class="item-title">Item</div>
					<span class="label order-Requested label-right">Requested</span>
					<div class="sub-item"><span class="item-name">Code: </span><span>Test</span></div>
					<div class="sub-item"><span class="item-name">Specimen: </span><span></span></div>
					<div class="sub-item"><span class="item-name">BodySite: </span><span></span></div>
					<div class="sub-item">
						<div class="sub-item-title">Event</div>
						<span class="label order-Requested label-right">Requested</span>
						<div class="sub-sub-item"><span class="item-name">Description: </span></div>
						<div class="sub-sub-item"><span class="item-name">DateTime: </span></div>
						<div class="sub-sub-item"><span class="item-name">Actor: </span></div>
					</div>
				</div>
				<div class="info-item"><span class="item-name">Note: </span><div>Note For Diagnostic Order</div></div>
			</div><!-- div.detail-info#order -->