<!DOCTYPE html>
<html ng-app="diagnostic_order">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Diagnostic Order{% endblock %}</title>
  <script type="text/javascript" src="/static/js/angular.min.js"></script>
  <script type="text/javascript" src="/static/js/angular-route.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/static/js/fhir-client.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/index.js"></script>
  <script type="text/javascript" src="/static/js/controllers.js"></script>
  <script type="text/javascript" src="/static/js/new_order.js"></script>
  <script type="text/javascript" src="/static/js/crfx.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="stylesheet" href="/static/css/order.css">
</head>
<body>
  <div id="container-fluid">
    {% include 'top.html' %}
    <div id="main">
      {% include 'nav.html' %}
    
      <div id="mid-panel">
        {% block content %} 
        {% endblock %}
      </div>
    </div>
  </div>
  
</body>
</html>
