{% for order in orders %}
<div class="item">
  <div class="head-bar">
    <a href="{% url 'order_detail'  order.id %}">Check</a>
    <span class="pull-left dig_order_id" >{{order.id}}</span>
  </div>
  <div class="item-info">
    <div class="row">
      <div class="col-sm-3 col-xs-3 col-mg-3 col-lg-3">
        {{order.name}}
      </div>
      <div class="col-sm-3 col-xs-3 col-mg-3 col-lg-3">
        {{order.Order}}
      </div>
      <div class="col-sm-3 col-xs-3 col-mg-3 col-lg-3">
        {{order.Time}}
      </div>
      <div class="col-sm-3 col-xs-3 col-mg-3 col-lg-3">
        <span class="label order-{{order.Status}}">{{order.Status}}</span>
      </div>
    </div>
  </div>
</div>
{% endfor %}<!-- div.item -->