<hr> 
<h3 class="control-label">Item</h3>
<div class="input-item row">
  <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Code</label>
    <div class="col-sm-6 col-xs-6 col-mg-6 col-lg-6">
      <div class="input-group">
       <span class="input-group-addon">system</span>
       <input type="text" class="form-control item_system" placeholder="http:" id="item_system"></input>
      </div>
      <br/>
      <div class="input-group">
       <span class="input-group-addon">code</span>
       <input type="text" class="form-control item_code" id="item_code">
      </div>
      <br/>
      <div class="input-group">
       <span class="input-group-addon">display</span>
       <input type="text" class="form-control item_display" id="item_display">
      </div>
      <br/>
      <textarea class="form-control item_description" rows="4" placeholder="Description" id="item_description"></textarea>
      <br/>
    </div>
  </div>  

  <div class="input-item row">
    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Specimen</label>
      <p id="item_spec_chosen" class="col-sm-4 col-xs-4 col-mg-4 col-lg-4"></p>
      <button class="btn-info col-sm-2 col-xs-2 col-mg-2 col-lg-2" type="text" data-toggle="modal" data-target="#item_spec_modal">Reference</button>

        <div class="modal fade" id="item_spec_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                 <button type="button" class="close" 
                    data-dismiss="modal" aria-hidden="true">
                       &times;
                 </button>
                 <h4 class="modal-title" id="item_spec_title">
                    Specimen
                 </h4>
              </div>
              <div class="modal-body" id="spec_content">
                <span id="spec_c"></span>
                <ul id="item_spec_id" class="list-group">
                </ul>
              </div>
            </div><!-- /.modal-content -->
          </div>
        </div>

        <div>
          <span class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></span>
          <p id="item_spec_chosen" class="col-sm-6 col-xs-6 col-mg-6 col-lg-6"></p>
        </div>
      </div>


      <div class="input-item row">
        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Bodysite</label>
        <div class="col-sm-6 col-xs-6 col-mg-6 col-lg-6">
          <div class="input-group">
           <span class="input-group-addon">system</span>
           <input type="text" class="form-control body_system" placeholder="http://" id="reason_system">
          </div>
          <br/>
          <div class="input-group">
           <span class="input-group-addon">code</span>
           <input type="text" class="form-control body_code" id="reason_code">
          </div>
          <br/>
          <div class="input-group">
           <span class="input-group-addon">display</span>
           <input type="text" class="form-control body_display" id="reason_display">
          </div>
          <br/>
          <textarea class="form-control body_description" rows="4" placeholder="Description" id="reason_description"></textarea>
          <br/>
        </div>
      </div>